.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
.flaskenv
node_modules/
package-lock.json
app.db
migrations/
app/static/img/*
/logs/
*.log
app_backup.db
get-pip.py
!app/static/img/default.png
!app/static/img/favicon-32x32.png
