<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/css/output.css" rel="stylesheet" />
  </head>

  <body>
    <h1 class="text-3xl font-bold underline bg-red-600 text-zinc-100">
      Hello world!
    </h1>
    <!-- <div class="bg-gray-800 flex justify-center p-5">
      <span class="text-white"> Microblog:</span>
      <a href="{{ url_for('homepage') }}" class="text-white text-3xl">Home</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}" class="text-white">Login</a>
      {% else %}
      <a href="{{ url_for('logout') }}" class="text-white">Logout</a>
      {% endif %}
    </div> -->
    {% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% for post in posts %}
    <div>
      <p>{{ post.author.username }} says: <b>{{ post.body }}</b></p>
    </div>
    {% endfor %} {% endblock %}
  </body>
</html>
