<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/output.css" />
    <title>Giriş Yap</title>
    <style>
      body {
        background: linear-gradient(135deg, #f7fafc 25%, transparent 25%) -50px 0,
          linear-gradient(225deg, #f7fafc 25%, transparent 25%) -50px 0,
          linear-gradient(315deg, #f7fafc 25%, transparent 25%),
          linear-gradient(45deg, #f7fafc 25%, transparent 25%);
        background-size: 100px 100px;
        background-color: #edf2f7;
      }
    </style>
  </head>
  <body>
    <div
      class="relative mx-auto w-full max-w-md bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:rounded-xl sm:px-10 mt-36">
      <div class="w-full">
        <div class="text-center">
          <h1 class="text-3xl font-semibold text-gray-900">Kullanıcı Girişi</h1>
          <p class="mt-2 text-gray-500">
            Giriş yapmak için lütfen bilgilerinizi giriniz.
          </p>
        </div>
        <div class="mt-5">
          <form method="post">
            {{ form.hidden_tag() }}
            <div class="relative mt-6">
              {{ form.username(class_="peer mt-1 w-full border-b-2
              border-gray-300 px-0 py-1 placeholder:text-transparent
              focus:border-gray-500 focus:outline-none") }}
              <label
                class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800"
                >Kullanıcı Adı</label
              >
            </div>
            <div class="relative mt-6">
              {{ form.password(class_="peer mt-1 w-full border-b-2
              border-gray-300 px-0 py-1 placeholder:text-transparent
              focus:border-gray-500 focus:outline-none") }}
              <label
                class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800"
                >Şifre</label
              >
            </div>
            <div class="my-6">
              {{form.submit(class_="w-full rounded-md bg-gray-800 px-3 py-4
              text-white focus:bg-gray-600 focus:outline-none", value="Giriş Yap")}}
            </div>
            <p class="text-center text-sm text-gray-500">
              Hesabınız yok mu?
              <a
                href="{{ url_for('register') }}"
                class="font-semibold text-gray-600 hover:underline focus:text-gray-800 focus:outline-none"
                >Kaydolun!</a
              >
            </p>
          <!-- Silinecek  -->
          {% with messages = get_flashed_messages() %} {% if messages %}
          <ul>
            {% for message in messages %}
            <li class="text-pretty text-gray-900 text-2xl">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
        </div>
      </div>
    </div>
  </body>
</html>
